body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #383e56;
  color: #fff;
}

li {
  list-style: none;
  cursor: pointer;
}

.title-app {
  margin: 30px auto;
  max-width: 992px;
}
